<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
  <meta charset="UTF-8">
  <title  th:text="${title}" >Add</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link href="./add.css" type="text/css" rel="stylesheet" >
  <script  src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.7/jquery.min.js"></script>
  <link href="./image/webtab.png" rel="icon" >
<script>

$(document).ready(function(){

    $($('.addLanguage')).click(function(){
    	    $($('.language')).append('<div class="input-group input-group-icon"  th:each="language : ${movie.language}"> <input type="text" th:value="${language}" required="required" name="language" style="width: 90%;" value="Hindi"><a href="#" style="text-decoration:none;" class="removeLanguage"><strong>--</strong></a></div>  ');
    });
    
    $($('.addGenre')).click(function(){
            $($('.genre')).append('<div class="input-group input-group-icon"  th:each="genre : ${movie.genre}"><input type="text" th:value="${genre}" style="width: 90%;" required="required" name="genre" value="Action"><a href="#" style="text-decoration:none;" class="removeGenre"><strong>--</strong></a></div>');
    });

    $($('.addDownload')).click(function(){
            $($('.download')).append('<div class="input-group"  th:each="map : ${movie.download_link}"><input type="text" th:value="${map.key}" name="downloadname" required="required"  value="Download" style="width: 45%; text-align: center;" >  <input type="text" th:value="${map.value}" name="downloadvalue" required="required" style="width: 45%; text-align: center;" placeholder="Link"><a href="#" style="text-decoration:none;" class="removeDownload"><strong>--</strong></a></div> ');
    });

    $($('.addOtherImages')).click(function(){
        $($('.otherImages')).append('<div class="input-group input-group-icon" th:each="otherImages : ${movie.otherImages}"><input type="text" th:value="${otherImages}" required="required" name="otherImages" style="width: 90%;">  <a href="#" style="text-decoration:none;" class="removeOtherImages"><strong> --</strong></a><div class="input-icon"><i class="fa fa-file-image-o"></i></div></div>');
	});

    
    
    $($('.language')).on('click', '.removeLanguage', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); 
    });

    $($('.genre')).on('click', '.removeGenre', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); 
    });
    
    $($('.download')).on('click', '.removeDownload', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); 
    });
    

    $($('.otherImages')).on('click', '.removeOtherImages', function(e){
        e.preventDefault();
        $(this).parent('div').remove(); 
    });
   
   
});

    </script>


</head>
<body>
<!-- partial:index.partial.html -->
<div class="container"   >
  <form method="POST"  action="./save">
    <div class="row" >
      <h4 >Movies</h4>
      <div class="input-group input-group-icon">
      	<input type="hidden" name = "id" th:value="${movie.id}" >
        <input type="text" th:value="${movie.name}" placeholder="Title" name="name" required="required"/>
        <div class="input-icon"><i class="fa fa-film"></i></div>
      </div>
      
      <div class="input-group input-group-icon">
        <input type="text" th:value="${movie.image_url}" placeholder="Image Url" name="image_url" required="required"/>
        <div class="input-icon"><i class="fa fa-picture-o"></i></div>
      </div>
    
        
      <div class="input-group input-group-icon">
        <input type="text" th:value="${movie.directors}" placeholder="Directors" name="directors" required="required"/>
        <div class="input-icon"><i class="fa fa-camera"></i></div>
      </div>
    
        
      <div class="input-group input-group-icon">
        <input type="text" th:value="${movie.writers}" placeholder="Writers" name="writers" required="required"/>
        <div class="input-icon"><i class="fa fa-pencil-square-o"></i></div>
      </div>
    
      
      <div class="input-group input-group-icon">
        <input type="text"  th:value="${movie.stars}"  placeholder="Stars" name="stars" required="required"/>
        <div class="input-icon"><i class="fa fa-star"></i></div>
      </div>
    
          
      <div class="textarea-group textarea-group-icon">
        <textarea placeholder="
        	Description" th:field="${movie.description}" rows="3" cols="57" name="description" required="required"></textarea>
        <div class="input-icon"></div>
      </div>
      
</div>
      
    
    <div class="row">
      <div class="col-half">
        <h4>Run Time</h4>
          <div class="col-half">
            <input type="number" th:value="${hour}"  placeholder="h" min="00" max="05" name="hour" required="required"/>
          </div>
          
          <div class="col-half">
            <input type="number" th:value="${min}" placeholder="m"  min="00" max="59" name="min" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;"  required="required"/>
          </div>
         
        </div>
      
      
      <div class="col-full">
        <h4>Industries Name</h4>
        <div class="input-group" >
   			<select  th:field="${movie.industryName}" >
   				<option  th:each="industries : ${T(com.moviepur.entity.IndustriesName).values()}" 
   					th:value="${industries}" th:text="${industries}" th:id="${industries}"  
   					th:selected="${movie.industryName} == ${industries}" ></option>
   			</select>
   		 </div>
      </div>
    </div>
    
    
    
      
    
    
    <div class="row">
      <div class="col-half">
        <h4>Release Date</h4>
        <div class="input-group">
          <div class="col-third">
            <input type="number"  th:value="${d}"  required="required" placeholder="DD" min="01" max="31" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" name="d"/>
          </div>
          <div class="col-third">
            <input type="number"  th:value="${m}" required="required" placeholder="MM"  min="01" max="12" onchange="if(parseInt(this.value,10)<10)this.value='0'+this.value;" name="m"/>
          </div>
          <div class="col-third">
            <input type="number"  th:value="${y}" required="required" placeholder="YYYY" maxlength="4"  name="y"/>
          </div>
        </div>
      </div>
      
      
      <div class="col-half">
        <h4>Type</h4>
        <div class="input-group">
          <div  th:each="type : ${T(com.moviepur.entity.Type).values()}">
         	 <input type="radio"  th:value="${type}" th:id="${type}" th:checked="${movie.type} == ${type}" name="type"/>
             <label th:for="${type}"> <span th:text="${type}">Movie</span></label>
          </div>   
       </div>
      </div>
    </div>
    
    
    <div class="row">
      <div class="col-half">
        <h4 >Rating</h4>	       
	      <div class="input-group input-group-icon">
	       	 <input type="number" th:field="${movie.rating[Rotten_Tomatoes]}" required="required" name="rotten" style="padding-left: 80px" placeholder="Rotten Tomatoes" min="0" max="100.0"/>
	       	 <div class="input-icon"  style="size: 100px"><label>Rotten</label></div>
	      </div> 
	      <div class="input-group input-group-icon">
	       	 <input type="number" th:field="${movie.rating[IMDb]}"required="required"  style="padding-left: 80px" step="any" name="imdb" placeholder="IMDb" min="0.0" max="10.0"/>
	       	 <div class="input-icon"><label>IMDb</label></div>
	      </div>	      
	      <div class="input-group input-group-icon">
	        <input type="number"  th:field="${movie.rating[Moviepur]}" required="required" name="moviepur" style="padding-left: 80px" step="any" placeholder="Moviepur" min="0.0" max="10.0"/>
	        <div class="input-icon"><label>Moviepur</label></div>
	      </div>
      </div>
      
     
      <div class="col-half language">   
         <h4 >Language   <a href="#" style="text-decoration:none;" class="addLanguage"><strong>   +</strong></a>         </h4>	       
	        <div class="input-group input-group-icon"  th:each="language : ${movie.language}">
	        	 <input type="text" th:value="${language}" required="required" name="language" style="width: 90%;" value="English">
	        	 <a href="#" style="text-decoration:none;" class="removeLanguage"><strong>--</strong></a>
	       </div>
      </div>
      
    </div>

    <div class="row">
      <div class="col-half genre">
        <h4>Genre <a href="#" style="text-decoration:none;" class="addGenre"><strong>   +</strong></a></h4>	       
	        <div class="input-group input-group-icon"  th:each="genre : ${movie.genre}">
	        	 <input type="text" th:value="${genre}" style="width: 90%;" required="required" name="genre" value="Action">
	        	 <a href="#" style="text-decoration:none;" class="removeGenre"><strong>--</strong></a>
	       </div>
      </div>
      
     
      <div class="col-half download">   
         <h4>Download Link   <a href="#" style="text-decoration:none;" class="addDownload"><strong>   +</strong></a></h4>	   
   
         <div class="input-group"  th:each="map : ${movie.download_link}">
	      		 <input type="text" th:value="${map.key}" name="downloadname" required="required"  value="Download" style="width: 45%; text-align: center;" > 
            	<input type="text" th:value="${map.value}" name="downloadvalue" required="required" style="width: 45%; text-align: center;" placeholder="Link">
           		<a href="#" style="text-decoration:none;" class="removeDownload"><strong>--</strong></a>
	       </div> 
      </div>
    </div>
   
      <div class="col-full otherImages ">   
         <h4>Other Images   <a href="#" style="text-decoration:none;" class="addOtherImages"><strong>    +</strong></a>         </h4>	       
	        <div class="input-group input-group-icon" th:each="otherImages : ${movie.otherImages}">
	        	 <input type="text" th:value="${otherImages}" required="required" name="otherImages" style="width: 90%;" >  
	        	 <a href="#" style="text-decoration:none;" class="removeOtherImages"><strong> --</strong></a>
	    	   <div class="input-icon"><i class="fa fa-file-image-o"></i></div>
        	</div>
      </div>
   
   
    <div class="row">
      <div class="input-group" >
 	    <input type="submit" style="background-color: #b056bb"> 
      </div>
    </div>
  </form>


</div>
</body>
</html>
   